body, html {
  background-color: #18191D !important;
  color: white !important;
  font-family: 'Rubik';
}

section#header .bg-transparent > body {
  background-color: #ffffff;
  color:#18191D;
}

.light-mode {
  background-color: #ffffff !important;
  color: #18191D !important;
}
