<ng-progress></ng-progress>
<!-- start of header section -->
<section id="header" class="scroll wow slideInDown"  style="overflow-x: hidden;">
  <header class="smart-scroll">
    <nav class="navbar navbar-expand-md navbar-dark bg-transparent" style="transition: all 0.4s ease-in-out 0s;">
      <h3 class="mx-auto"><a class="navbar-brand d-none" href="#">Adam.</a></h3>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse w-100 flex-md-column" id="navbarCollapse">

        <div>
          <h1 class="pt-3">Adam.</h1>
        </div>
        <ul class="navbar-nav mx-auto small mb-2 mb-md-0">
          <hr style="color: white; background-color: white;">
          <li class="nav-item">
            <a class="nav-link py-3 text-white" href="#about__me">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-3 text-white" href="#portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-3 text-white" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-3 text-white" href="#blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-3 text-white" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</section>
<!-- end of header section -->

<!-- start of hero section -->
<section id="hero">
  <div class="full-bg-image scroll">
    <div class="row ml-5 pl-5 h-100">
      <div class="col-10 col-sm-8 col-md-8 col-lg-8 my-auto">
        <!-- <button onclick="myFunction()">Toggle dark mode</button> -->
        <p class="text-white wow slideInLeft" style="overflow-x: hidden;">“Taking an image, freezing a moment, reveals how rich reality truly is.”</p>
      </div>
      <div class="col-2 col-sm-4 col-md-4 col-lg-4">
      </div>
    </div>
  </div>
</section>
<!-- end of hero setion -->

<!-- start of about me section -->
<section id="about__me" class="scroll">
  <div class="container-fluid p-5 mx-5">
    <h1 class="mb-5 wow bounceIn">About Me 
      <a href="#about__me"><img src="../../assets/icons/arrow-right.svg" class="img-fluid arrow" alt="icon" srcset=""></a> 
    </h1>
    <div class="row" style="overflow: hidden;">
      <div class="col-12 col-sm-12 col-md-6 order-md-12 col-lg-6 wow fadeInRight p-5">
        <!-- <a href="../../assets/img/about_me.png" target="_blank"> -->
        <img src="../../assets/img/about2.png" class="img-fluid d-block mx-auto hvr-pop" alt="image" srcset="">
        <!-- </a> -->
      </div>
      <div class="col-12 col-sm-12 col-md-6 order-md-1 col-lg-6 paragraph wow fadeInLeft pr-5 pt-5 hvr-rotate">
        <h2 class="mb-2">Adam Washington</h2>
        <p class="mb-4">Hi, I am Adam. I believe in capturing a glimpse of the art that is inherent in nature and
          capturing the beauty in reality.</p>
        <p> I have won numberous awards for my work and worked with a good number of the biggest and most reputable
          brands in the industry.</p>
      </div>
    </div>
  </div>
</section>
<!-- end of about me section -->

<!-- start of porfolio section -->
<section id="portfolio" class="px-5 scroll">
  <h1 class="mt-5 pl-5 wow bounceIn">Portfolio 
    <a href="#portfolio"><img src="../../assets/icons/arrow-right.svg" class="img-fluid arrow" alt="icon" srcset=""></a>
  </h1>
  <div id="myCarousel" class="carousel slide wow bounceIn" data-ride="carousel" data-interval="7000">

    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active">< </li>
      <li data-target="#myCarousel" data-slide-to="1">1</li>
      <li data-target="#myCarousel" data-slide-to="2">2</li>
      <li data-target="#myCarousel" data-slide-to="3">3</li>
      <li data-target="#myCarousel" data-slide-to="4">></li>
    </ol>

    <!-- slide show -->
    <div class="carousel-inner">
      <!-- start of first slide -->
      <div class="carousel-item active">
        <div class="container-fluid p-5 gallery__images" id="portfolio__container">
          <div class="gallery__container height__2">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery1.png" target="_blank">
                  <img src="../../assets/img/gallery1.png" class="img-fluid" alt="image" srcset="" width="403"
                    height="590">
                </a>
              </div>
            </div>
          </div>
          <div class="gallery__container height__3">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery2.png" target="_blank">
                  <img src="../../assets/img/gallery2.png" class="img-fluid" alt="image" srcset="">
                </a>
              </div>
            </div>
          </div>
          <div class="gallery__container height__2">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery3.png" target="_blank">
                  <img src="../../assets/img/gallery3.png" class="img-fluid" alt="image" srcset="">
                </a>
              </div>
            </div>
          </div>
          <div class="gallery__container height__2">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery4.png" target="_blank">
                  <img src="../../assets/img/gallery4.png" class="img-fluid" alt="image" srcset="">
                </a>
              </div>
            </div>
          </div>
          <div class="gallery__container height__2">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery6.png" target="_blank">
                  <img src="../../assets/img/gallery6.png" class="img-fluid" alt="image" srcset="">
                </a>
              </div>
            </div>
          </div>
          <div class="gallery__container height__2">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery5.png" target="_blank">
                  <img src="../../assets/img/gallery5.png" class="img-fluid" alt="image" srcset="">
                </a>
              </div>
            </div>
          </div>
          <div class="gallery__container height__1">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery7.png" target="_blank">
                  <img src="../../assets/img/gallery7.png" class="img-fluid" alt="image" srcset="">
                </a>
              </div>
            </div>
          </div>
          <div class="gallery__container height__1">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery8.png" target="_blank">
                  <img src="../../assets/img/gallery8.png" class="img-fluid" alt="image" srcset="" width="403"
                    height="319">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end if first slide -->
      <!-- start of second slide -->
      <div class="carousel-item">
        <div class="container-fluid p-5 gallery__images" id="portfolio__container">
          <div class="gallery__container height__2">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery1.png" target="_blank">
                  <img src="../../assets/img/gallery1.png" class="img-fluid" alt="image" srcset="" width="403"
                    height="590">
                </a>
              </div>
            </div>
          </div>
          <div class="gallery__container height__3">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery2.png" target="_blank">
                  <img src="../../assets/img/gallery2.png" class="img-fluid" alt="image" srcset="">
                </a>
              </div>
            </div>
          </div>
          <div class="gallery__container height__2">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery3.png" target="_blank">
                  <img src="../../assets/img/gallery3.png" class="img-fluid" alt="image" srcset="">
                </a>
              </div>
            </div>
          </div>
          <div class="gallery__container height__2">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery4.png" target="_blank">
                  <img src="../../assets/img/gallery4.png" class="img-fluid" alt="image" srcset="">
                </a>
              </div>
            </div>
          </div>
          <div class="gallery__container height__2">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery6.png" target="_blank">
                  <img src="../../assets/img/gallery6.png" class="img-fluid" alt="image" srcset="">
                </a>
              </div>
            </div>
          </div>
          <div class="gallery__container height__2">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery5.png" target="_blank">
                  <img src="../../assets/img/gallery5.png" class="img-fluid" alt="image" srcset="">
                </a>
              </div>
            </div>
          </div>
          <div class="gallery__container height__1">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery7.png" target="_blank">
                  <img src="../../assets/img/gallery7.png" class="img-fluid" alt="image" srcset="">
                </a>
              </div>
            </div>
          </div>
          <div class="gallery__container height__1">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery8.png" target="_blank">
                  <img src="../../assets/img/gallery8.png" class="img-fluid" alt="image" srcset="" width="403"
                    height="319">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of second slide -->
      <!-- start of third slide -->
      <div class="carousel-item">
        <div class="container-fluid p-5 gallery__images" id="portfolio__container">
          <div class="gallery__container height__2">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery1.png" target="_blank">
                  <img src="../../assets/img/gallery1.png" class="img-fluid" alt="image" srcset="" width="403"
                    height="590">
                </a>
              </div>
            </div>
          </div>
          <div class="gallery__container height__3">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery2.png" target="_blank">
                  <img src="../../assets/img/gallery2.png" class="img-fluid" alt="image" srcset="">
                </a>
              </div>
            </div>
          </div>
          <div class="gallery__container height__2">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery3.png" target="_blank">
                  <img src="../../assets/img/gallery3.png" class="img-fluid" alt="image" srcset="">
                </a>
              </div>
            </div>
          </div>
          <div class="gallery__container height__2">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery4.png" target="_blank">
                  <img src="../../assets/img/gallery4.png" class="img-fluid" alt="image" srcset="">
                </a>
              </div>
            </div>
          </div>
          <div class="gallery__container height__2">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery6.png" target="_blank">
                  <img src="../../assets/img/gallery6.png" class="img-fluid" alt="image" srcset="">
                </a>
              </div>
            </div>
          </div>
          <div class="gallery__container height__2">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery5.png" target="_blank">
                  <img src="../../assets/img/gallery5.png" class="img-fluid" alt="image" srcset="">
                </a>
              </div>
            </div>
          </div>
          <div class="gallery__container height__1">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery7.png" target="_blank">
                  <img src="../../assets/img/gallery7.png" class="img-fluid" alt="image" srcset="">
                </a>
              </div>
            </div>
          </div>
          <div class="gallery__container height__1">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery8.png" target="_blank">
                  <img src="../../assets/img/gallery8.png" class="img-fluid" alt="image" srcset="" width="403"
                    height="319">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of third slide -->
      <!-- start of fourth slide -->
      <div class="carousel-item">
        <div class="container-fluid p-5 gallery__images" id="portfolio__container">
          <div class="gallery__container height__2">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery1.png" target="_blank">
                  <img src="../../assets/img/gallery1.png" class="img-fluid" alt="image" srcset="" width="403"
                    height="590">
                </a>
              </div>
            </div>
          </div>
          <div class="gallery__container height__3">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery2.png" target="_blank">
                  <img src="../../assets/img/gallery2.png" class="img-fluid" alt="image" srcset="">
                </a>
              </div>
            </div>
          </div>
          <div class="gallery__container height__2">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery3.png" target="_blank">
                  <img src="../../assets/img/gallery3.png" class="img-fluid" alt="image" srcset="">
                </a>
              </div>
            </div>
          </div>
          <div class="gallery__container height__2">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery4.png" target="_blank">
                  <img src="../../assets/img/gallery4.png" class="img-fluid" alt="image" srcset="">
                </a>
              </div>
            </div>
          </div>
          <div class="gallery__container height__2">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery6.png" target="_blank">
                  <img src="../../assets/img/gallery6.png" class="img-fluid" alt="image" srcset="">
                </a>
              </div>
            </div>
          </div>
          <div class="gallery__container height__2">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery5.png" target="_blank">
                  <img src="../../assets/img/gallery5.png" class="img-fluid" alt="image" srcset="">
                </a>
              </div>
            </div>
          </div>
          <div class="gallery__container height__1">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery7.png" target="_blank">
                  <img src="../../assets/img/gallery7.png" class="img-fluid" alt="image" srcset="">
                </a>
              </div>
            </div>
          </div>
          <div class="gallery__container height__1">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery8.png" target="_blank">
                  <img src="../../assets/img/gallery8.png" class="img-fluid" alt="image" srcset="" width="403"
                    height="319">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of fourth slide -->
      <!-- start of fifth slide -->
      <div class="carousel-item">
        <div class="container-fluid p-5 gallery__images" id="portfolio__container">
          <div class="gallery__container height__2">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery1.png" target="_blank">
                  <img src="../../assets/img/gallery1.png" class="img-fluid" alt="image" srcset="" width="403"
                    height="590">
                </a>
              </div>
            </div>
          </div>
          <div class="gallery__container height__3">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery2.png" target="_blank">
                  <img src="../../assets/img/gallery2.png" class="img-fluid" alt="image" srcset="">
                </a>
              </div>
            </div>
          </div>
          <div class="gallery__container height__2">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery3.png" target="_blank">
                  <img src="../../assets/img/gallery3.png" class="img-fluid" alt="image" srcset="">
                </a>
              </div>
            </div>
          </div>
          <div class="gallery__container height__2">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery4.png" target="_blank">
                  <img src="../../assets/img/gallery4.png" class="img-fluid" alt="image" srcset="">
                </a>
              </div>
            </div>
          </div>
          <div class="gallery__container height__2">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery6.png" target="_blank">
                  <img src="../../assets/img/gallery6.png" class="img-fluid" alt="image" srcset="">
                </a>
              </div>
            </div>
          </div>
          <div class="gallery__container height__2">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery5.png" target="_blank">
                  <img src="../../assets/img/gallery5.png" class="img-fluid" alt="image" srcset="">
                </a>
              </div>
            </div>
          </div>
          <div class="gallery__container height__1">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery7.png" target="_blank">
                  <img src="../../assets/img/gallery7.png" class="img-fluid" alt="image" srcset="">
                </a>
              </div>
            </div>
          </div>
          <div class="gallery__container height__1">
            <div class="gallery__item">
              <div class="image">
                <a href="../../assets/img/gallery8.png" target="_blank">
                  <img src="../../assets/img/gallery8.png" class="img-fluid" alt="image" srcset="" width="403"
                    height="319">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of fifth slide -->
    </div>
  </div>
</section>
<!-- end of portfolio section -->

<!-- start of services section -->
<section id="services" class="px-5 scroll">
  <div class="container-fluid p-5">
    <h1 class="mb-5 wow bounceIn">Services 
      <a href="#services"><img src="../../assets/icons/arrow-right.svg" class="img-fluid arrow" alt="icon" srcset=""></a>
    </h1>
    <div class="services mb-5">
      <div class="services__item">
        <div class="image hvr-shrink">
          <a href="../../assets/img/services1.png" target="_blank">
            <img src="../../assets/img/services1.png" class="img-fluid wow fadeInLeft" alt="image" srcset="">
          </a>
        </div>
        <div class="text text-center">
          <p>Product Photography</p>
        </div>
      </div>
    </div>
    <div class="services mb-5">
      <div class="services__item">
        <div class="image hvr-shrink">
          <a href="../../assets/img/services2.png" target="_blank">
            <img src="../../assets/img/services2.png" class="img-fluid wow fadeInRight" alt="image" srcset="">
          </a>
        </div>
        <div class="text text-center">
          <p>Model Photography</p>
        </div>
      </div>
    </div>
    <div class="services">
      <div class="services__item">
        <div class="image hvr-shrink">
          <a href="../../assets/img/services3.png" target="_blank">
            <img src="../../assets/img/services3.png" class="img-fluid wow fadeInLeft" alt="image" srcset="">
          </a>
        </div>
        <div class="text text-center">
          <p>Wildlife Photography</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of services section -->

<!-- start of blog section -->
<section id="blog">
  <div class="container-fluid p-5 scroll">
    <h1 class="mb-5 ml-5 wow bounceIn">Blog
      <a href="#blog"> <img src="../../assets/icons/arrow-right.svg" class="img-fluid arrow" alt="icon" srcset=""></a>
    </h1>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4 px-md-5 col-lg-4" style="overflow-y: hidden;">
        <div class="card border-0 wow bounceIn hvr-pulse">
          <img class="card-img-top" src="../../assets/img/blog.png" class="img-fluid" alt="image">
          <div class="card-body">
            <h4 class="card-title mb-3">Taking great snaps at night</h4>
            <div class="row">
              <div class="col-6 col-sm-6 col-md-6">
                <p>10th July, 2019</p>
              </div>
              <div class="col-6 col-sm-6 col-md-6 text-right">
                <p> <img src="../../assets/icons/comments.svg" class="img-fluid comments" alt="image"> 22 comments</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 px-md-5 col-lg-4" style="overflow-y: hidden;">
        <div class="card border-0 wow bounceIn hvr-pulse">
          <img class="card-img-top" src="../../assets/img/blog.png" class="img-fluid" alt="image">
          <div class="card-body">
            <h4 class="card-title mb-3">Taking great snaps at night</h4>
            <div class="row">
              <div class="col-6 col-sm-6 col-md-6">
                <p>10th July, 2019</p>
              </div>
              <div class="col-6 col-sm-6 col-md-6 text-right">
                <p> <img src="../../assets/icons/comments.svg" class="img-fluid comments" alt="image"> 22 comments</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 px-md-5 col-lg-4" style="overflow-y: hidden;">
        <div class="card border-0 wow bounceIn hvr-pulse">
          <img class="card-img-top" src="../../assets/img/blog.png" class="img-fluid" alt="image">
          <div class="card-body">
            <h4 class="card-title mb-3">Taking great snaps at night</h4>
            <div class="row">
              <div class="col-6 col-sm-6 col-md-6">
                <p>10th July, 2019</p>
              </div>
              <div class="col-6 col-sm-6 col-md-6 text-right">
                <p> <img src="../../assets/icons/comments.svg" class="img-fluid comments" alt="image"> 22 comments</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of blog section -->

<!-- start of contact section -->
<section id="contact" class="px-5 scroll">
  <div class="container-fluid p-5">
    <h1 class="mb-5 wow bounceIn">Contact
      <a href="#contact"><img src="../../assets/icons/arrow-right.svg" class="img-fluid arrow" alt="icon" srcset=""></a>
    </h1>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 wow slideInLeft">
        <div class="mb-5">
          <p class="mb-3">Email:</p>
          <p>adamphotographs@hey.com</p>
        </div>
        <div class="mb-5">
          <p class="mb-3">Telephone:</p>
          <p>+2516286732837622</p>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 wow slideInRight">
        <div class="mb-5">
          <p class="mb-3">Location:</p>
          <p>3517 W. Gray St. Utica, Pennsylvania 57867</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end of contact section -->

<!-- start of footer section -->
<section id="footer">
  <footer>
    <div class="row text-center scroll wow slideInDown">
      <div class="col">
        <h4 class="mb-4">Adam.</h4>
        <div class="d-flex flex-row justify-content-center mb-4">
          <p><img src="../../assets/icons/twitter.svg" class="img-fluid p-4" alt="icon" srcset=""></p>
          <p><img src="../../assets/icons/behance.svg" class="img-fluid p-4" alt="icon" srcset=""></p>
          <p><img src="../../assets/icons/instagram.svg" class="img-fluid p-4" alt="icon" srcset=""></p>
          <p><img src="../../assets/icons/pinterest.svg" class="img-fluid p-4" alt="icon" srcset=""></p>
        </div>
        <p class="mb-3">2020. All Rights Reserved</p>
      </div>
    </div>
  </footer>
</section>
<!-- end of footer section -->
