<!-- start of hero section -->
<section id="hero">
  <div class="full-bg-image">
    <div class="row ml-5 pl-5">
      <div class="col-8 col-sm-8 col-md-8 col-lg-8">
        <p>“Taking an image, freezing a moment, reveals how rich reality truly is.”</p>
      </div>
      <div class="col-4 col-sm-4 col-md-4 col-lg-4">

      </div>
    </div>
    
  </div>
</section>
<!-- end of hero setion -->

<!-- start of about me section -->
<section id="about__me" class="text-white">
  <div class="container-fluid p-5">
    <h1 class="mb-5">About Me <img src="../../assets/icons/arrow-right.svg" class="img-fluid" alt="" srcset=""></h1>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <h2 class="mb-2">Adam Washington</h2>
        <p class="mb-4">Hi, I am Adam. I believe in capturing a glimpse of the art that is inherent in nature and capturing the beauty in reality.</p>
        <p> I have won numberous awards for my work and worked with a good number of the biggest and most reputable brands in the industry.</p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <img src="../../assets/img/about.png" class="img-fluid" alt="" srcset="" width="507" height="392">
      </div>
    </div>
  </div>
</section>
<!-- end of about me section -->

<!-- start of porfolio section -->
<section id="portfolio">
  <h1 class="mb-5 pl-5">Portfolio <img src="../../assets/icons/arrow-right.svg" class="img-fluid" alt="" srcset=""></h1>
  <div class="container-fluid p-5" id="portfolio__container">
    <div class="gallery__container height__2">
      <div class="gallery__item">
        <div class="image">
          <img src="../../assets/img/gallery1.png" class="img-fluid" alt="" srcset="" width="403" height="590">
        </div>
      </div>
    </div>
    <div class="gallery__container height__3">
      <div class="gallery__item">
        <div class="image">
          <img src="../../assets/img/gallery2.png" class="img-fluid" alt="" srcset="">
        </div>
      </div>
    </div>
    <div class="gallery__container height__2">
      <div class="gallery__item">
        <div class="image">
          <img src="../../assets/img/gallery3.png" class="img-fluid" alt="" srcset="">
        </div>
      </div>
    </div>
    <div class="gallery__container height__2">
      <div class="gallery__item">
        <div class="image">
          <img src="../../assets/img/gallery4.png" class="img-fluid" alt="" srcset="">
        </div>
      </div>
    </div>
    <div class="gallery__container height__2">
      <div class="gallery__item">
        <div class="image">
          <img src="../../assets/img/gallery6.png" class="img-fluid" alt="" srcset="">
        </div>
      </div>
    </div>
    <div class="gallery__container height__2">
      <div class="gallery__item">
        <div class="image">
          <img src="../../assets/img/gallery5.png" class="img-fluid" alt="" srcset="">
        </div>
      </div>
    </div>
    <div class="gallery__container height__1">
      <div class="gallery__item">
        <div class="image">
          <img src="../../assets/img/gallery7.png" class="img-fluid" alt="" srcset="">
        </div>
      </div>
    </div>
    <div class="gallery__container height__1">
      <div class="gallery__item">
        <div class="image">
          <img src="../../assets/img/gallery8.png" class="img-fluid" alt="" srcset="" width="403" height="319">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of portfolio section -->

<!-- start of services section -->
<section id="services">
  <div class="container-fluid p-5">
    <h1 class="mb-5">Services <img src="../../assets/icons/arrow-right.svg" class="img-fluid" alt="" srcset=""></h1>
    <div class="services mb-5">
      <div class="services__item">
        <div class="image">
          <img src="../../assets/img/services1.png" class="img-fluid" alt="" srcset="">
        </div>
        <div class="text text-center">
          <p>Product Photography</p>
        </div>
      </div>
    </div>
    <div class="services mb-5">
      <div class="services__item">
        <div class="image">
          <img src="../../assets/img/services2.png" class="img-fluid" alt="" srcset="">
        </div>
        <div class="text text-center">
          <p>Model Photography</p>
        </div>
      </div>
    </div>
    <div class="services">
      <div class="services__item">
        <div class="image">
          <img src="../../assets/img/services3.png" class="img-fluid" alt="" srcset="">
        </div>
        <div class="text text-center">
          <p>Wildlife Photography</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of services section -->

<!-- start of blog section -->
<section id="blog">
  <div class="container-fluid p-5">
    <h1 class="mb-5">Blog <img src="../../assets/icons/arrow-right.svg" class="img-fluid" alt="" srcset=""></h1>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
          <img class="card-img-top" src="../../assets/img/blog.png" class="img-fluid">
          <div class="card-body">
            <h4 class="card-title mb-3">Taking great snaps at night</h4>
            <div class="row">
              <div class="col-6 col-sm-6 col-md-6">
                <p>10th July, 2019</p>
              </div>
              <div class="col-6 col-sm-6 col-md-6 text-right">
                <p>22 comments</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
          <img class="card-img-top" src="../../assets/img/blog.png" class="img-fluid">
          <div class="card-body">
            <h4 class="card-title mb-3">Taking great snaps at night</h4>
            <div class="row">
              <div class="col-6 col-sm-6 col-md-6">
                <p>10th July, 2019</p>
              </div>
              <div class="col-6 col-sm-6 col-md-6 text-right">
                <p>22 comments</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
          <img class="card-img-top" src="../../assets/img/blog.png" class="img-fluid">
          <div class="card-body">
            <h4 class="card-title mb-3">Taking great snaps at night</h4>
            <div class="row">
              <div class="col-6 col-sm-6 col-md-6">
                <p>10th July, 2019</p>
              </div>
              <div class="col-6 col-sm-6 col-md-6 text-right">
                <p>22 comments</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of blog section -->

<!-- start of contact section -->
<section id="contact">
  <div class="container-fluid p-5">
    <h1 class="mb-5">Contact <img src="../../assets/icons/arrow-right.svg" class="img-fluid" alt="" srcset=""></h1>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-5 col-lg-5">
        <div class="mb-5">
          <p class="mb-3">Email:</p>
          <p>adamphotographs@hey.com</p>
        </div> 
        <div class="mb-5">
          <p class="mb-3">Telephone:</p>
          <p>+2516286732837622</p>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-7 col-lg-7">
        <div class="mb-5">
          <p class="mb-3">Location:</p>
          <p>3517 W. Gray St. Utica, Pennsylvania 57867</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end of contact section -->

<!-- start of footer section -->
<section id="footer">
  <footer>
    <div class="row text-center">
      <div class="col">
        <h4>Adam.</h4>
        <div class="d-flex flex-row justify-content-center">
          <p>cdc</p>
          <p>cdc</p>
        </div>
        <p>2020. All Rights Reserved</p>
      </div>
    </div>
  </footer>
</section>
<!-- end of footer section -->